@import "../../../variables.scss";

.container {
  margin-top: 12rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 5rem;
  background-color: $color-gray-Fill-container;
  width: 95%;
  gap: 8rem;

  border-radius: 1rem;
}
.img-container {
  img {
    height: 40rem;
  }
}
.icons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}
span {
  color: $color-green;
  font-family: "Kalam";
  font-size: 2rem;
}
h1 {
  font-size: 2.5rem;
  color: white;
}
p {
  font-size: 1.5rem;
  color: $color-secondary-text;
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
  color: white;
  border: none;
  outline: 0;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: $color-purple;
}

@media (max-width: 1100px) {
  .wrapper {
    align-items: start;
    flex-direction: column;
  }
  .img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .img-container {
    img {
      height: 25rem;
    }
  }
}
