@import "../../../variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.arrowUp-button:hover {
  padding: 0.7rem;
}

footer {
  padding: 4rem 4rem;
  width: 100vw;
  background-color: $color-gray-Fill-container;
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
span {
  font-size: 1.4rem;
  color: $color-secondary-text;
}

ul {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.4rem;
  li {
    a {
      font-size: 1.6rem;
      color: $color-secondary-text;
      transition: 500ms;
    }

    a:hover {
      font-size: 1.8rem;
      color: $color-green;
    }
  }
  flex-wrap: wrap;
}

button {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-purple;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 0.5rem;
  transition: 500ms;
}
.remove {
  display: none;
}

@media (max-width: 822px) {
  footer {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 4rem 0rem;
  }
  ul {
    width: 100%;
    justify-content: center;
  }
  .text-container {
    text-align: center;
  }
}

@media (max-width: 380px) {
  ul {
    gap: 1.3rem;
  }
}
@media (max-width: 350px) {
  ul {
    gap: 1rem;
  }
}
