<footer id="bottom-footer">
  <div class="text-container">
    <span>{{ "footer-text" | translate }}</span>
  </div>

  <div class="wrapper">
    <ul>
      <li>
        <a href="https://github.com/JoseLucasdevv" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/joselucasdev/" target="_blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/joselucasz_/" target="_blank">
          Instagram</a
        >
      </li>
      <li>
        <a
          appScrollChangeY
          href="https://api.whatsapp.com/send?l=pt&amp;phone=55086999512819"
          target="_blank"
        >
          Whatsapp</a
        >
      </li>
    </ul>
    <a href="#">
      <button class="arrowUp-button">
        <img
          src="../../../assets/arrows/ArrowUp.svg"
          alt="img arrow Button for navigate home page"
        />
      </button>
    </a>
  </div>
</footer>
