@import "../../../variables.scss";

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 10rem;
  // background-color: $color-gray-Fill-container;

  img {
    height: 20rem;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 4rem;

    li {
      cursor: pointer;
      font-size: 1.8rem;
      color: $color-secondary-text;
      a {
        transition: 500ms;
      }
    }
  }
}

a:hover {
  font-size: 2.2rem;
  color: $color-green;
}

.img-hamburguer {
  display: none;
  height: 4.2rem;
  width: 4.2rem;
  background-size: cover;
  background-image: url("../../../assets/social-media-icons/iconHamburguer.svg");
  cursor: pointer;
}

.nav-position {
  z-index: 2;
  position: fixed;
  right: 0;
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}

@media (max-width: 1320px) {
  header {
    ul {
      display: none;
    }
    .img-hamburguer {
      display: block;
    }
  }
}
