<app-nav-aside
  *ngIf="showNav | async"
  class="nav-position"
  [flag]="showNav"
></app-nav-aside>

<header>
  <img src="../../../assets/Images/Logo.png" alt="Logo José Lucas" />

  <ul>
    <li><a (click)="scroll('home')">Home</a></li>
    <li><a (click)="scroll('about')">About</a></li>
    <li>
      <a (click)="scroll('projets')">Projets</a>
    </li>
    <li>
      <a (click)="scroll('contact')">Contact</a>
    </li>
  </ul>

  <div (click)="clickOpen()" class="img-hamburguer"></div>
</header>
