<header appHeaderBorder data-aos="fade-down" data-aos-duration="1000">
  <a href="#">
    <div id="img-logo"></div>
  </a>

  <ul>
    <li>
      <a (click)="scroll('home')">{{ "header-nav1" | translate }}</a>
    </li>
    <li>
      <a (click)="scroll('about')">{{ "header-nav2" | translate }}</a>
    </li>
    <li>
      <a (click)="scroll('projets')">{{ "header-nav3" | translate }}</a>
    </li>
    <li>
      <a (click)="scroll('contact')">{{ "header-nav4" | translate }}</a>
    </li>
    <li>
      <button class="btn-translate" (click)="switchLanguage('pt')">PT</button> |
      <button class="btn-translate" (click)="switchLanguage('en')">EN</button>
    </li>
  </ul>

  <div (click)="clickOpen(true)" class="img-hamburguer"></div>
</header>
