@import "../../../variables.scss";

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 10rem;
  // background-color: $color-gray-Fill-container;

  ul {
    display: flex;
    align-items: center;
    gap: 4rem;

    li {
      cursor: pointer;
      font-size: 1.8rem;
      color: $color-secondary-text;
      a {
        transition: 500ms;
      }
    }
  }
}

a:hover {
  font-size: 2.2rem;
  color: $color-green;
}
#img-logo {
  width: 20rem;
  height: 6rem;
  background-image: url("../../../assets/Images/Logo.png");
  background-size: cover;
  background-position: center;
}
.img-hamburguer {
  display: none;
  height: 4.2rem;
  width: 4.2rem;
  background-size: cover;
  background-image: url("../../../assets/social-media-icons/iconHamburguer.svg");
  cursor: pointer;
}
.btn-translate {
  font-size: 1.5rem;
  justify-content: center;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
  color: $color-secondary-text;
  padding: 0.2rem;
  transition: 500ms;
  text-align: center;
}
.btn-translate:hover {
  padding: 1rem;
  color: $color-green;
}
.borderHeader {
  background: oklab(0 0 0);
  box-shadow: -2px 0px 20px 0px rgb(151 71 255);
  transition: 500ms;
}

@media (max-width: 1120px) {
  header {
    padding: 2rem 3rem;
    ul {
      display: none;
    }
    .img-hamburguer {
      display: block;
    }
  }
}

@media (max-width: 350px) {
  #img-logo {
    width: 17rem;
  }
  .img-hamburguer {
    height: 3.2rem;
    width: 3.2rem;
  }
}
