<aside class="container-aside" id="nav">
  <section class="section-header">
    <div class="picture-insta">
      <img
        src="../../../assets/Images/instaPicture.jpg"
        alt="img logo Instagram"
      />
    </div>
    <h1>José Lucas.</h1>
  </section>

  <section class="section-links">
    <ul>
      <li><a (click)="scroll('home')">Home</a></li>
      <li><a (click)="scroll('about')">About</a></li>
      <li>
        <a (click)="scroll('projets')">Projets</a>
      </li>
      <li>
        <a (click)="scroll('contact')">Contact</a>
      </li>
    </ul>
  </section>
</aside>
