<aside class="container-aside" id="nav">
  <section class="section-header">
    <div class="picture-insta">
      <img
        src="../../../assets/Images/instaPicture.jpg"
        alt="img logo Instagram"
      />
    </div>
    <h1>José Lucas.</h1>
  </section>

  <section class="section-links">
    <ul>
      <li>
        <a (click)="scroll('home')">{{ "header-nav1" | translate }}</a>
      </li>
      <li>
        <a (click)="scroll('about')">{{ "header-nav2" | translate }}</a>
      </li>
      <li>
        <a (click)="scroll('projets')">{{ "header-nav3" | translate }}</a>
      </li>
      <li>
        <a (click)="scroll('contact')">{{ "header-nav4" | translate }}</a>
      </li>
      <li>
        <button class="btn-translate" (click)="switchLanguage('pt')">PT</button>
        |
        <button class="btn-translate" (click)="switchLanguage('en')">EN</button>
      </li>
    </ul>
  </section>
</aside>
