<link rel="preload" href="../../../assets/Images/modal.png" as="image" />
<link rel="preload" href="../../../assets/Images/cancel.png" as="image" />

<div class="container">
  <button (click)="closeModal()" class="close-btn">
    <img
      [src]="loadedImages[1]"
      alt="img icon for close modal"
      loading="lazy"
    />
  </button>
  <div class="container-img">
    <img [src]="loadedImages[0]" alt="img icon form" loading="lazy" />
  </div>
  <div class="container-text">
    <h1>{{ "alert-error" | translate }}</h1>
  </div>
</div>
