.container {
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 5rem;
}

.container-img {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 25rem;
  }
}
.container-text {
  text-align: center;
  padding: 1.2rem;
  background: oklab(0 0 0);
  box-shadow: -2px 0px 20px 0px rgb(151 71 255);
  border-radius: 0.8rem;

  background-color: rgb(0, 0, 0);
  h1 {
    color: #ffff;
  }
}
.close-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  right: 2%;
  top: 3%;
}

@media (max-width: 1300px) {
  .container {
    width: 40%;
  }
}

@media (max-width: 980px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 740px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 570px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 360px) {
  .container {
    width: 90%;
  }
  .container-img {
    img {
      width: 200px;
    }
  }
}
