<div class="container" id="home">
  <div class="text-container">
    <h1>Hi,I'm José Lucas</h1>
    <h3>Full-stack developer and Innovation enthusiast</h3>
    <p>
      Over 4 years of experience in the tech industry. I specialize in building
      innovative web and mobile applications using technologies such as React,
      Angular and Node.js
    </p>
    <div class="buttons">
      <button
        class="btn-primary"
        (click)="
          goToUrl(
            'https://www.dropbox.com/scl/fi/cj2dnezs1zj5pfwyeugwb/Curr-culo-Jos-Lucas.pdf?rlkey=eqysy7dm4v4xjq3plm89fkjq3&dl=0'
          )
        "
      >
        <img src="../../../assets/arrows/ReadCvLogo.svg" alt="Img CV logo" /> My
        resume
      </button>
      <button
        class="btn-secondary"
        (click)="
          goToUrl('https://api.whatsapp.com/send?l=pt&amp;phone=55086999512819')
        "
      >
        Get in touch
        <img
          src="../../../assets/arrows/ArrowRight.svg"
          alt="img ArrowRigth "
        />
      </button>
    </div>
  </div>

  <div class="container-keyboard">
    <img
      class="keyboard-picture"
      src="../../../assets/Images/keyboard.png"
      alt="picture of the hands at keyboard"
    />
  </div>
</div>

<div class="arrow"></div>
