<div data-aos="fade-down" data-aos-duration="1000" class="container" id="home">
  <div class="text-container">
    <h1>{{ "home-title" | translate }}</h1>
    <h3>{{ "home-h3" | translate }}</h3>
    <p>
      {{ "home-text" | translate }}
    </p>
    <div class="buttons">
      <button
        class="btn-primary"
        (click)="
          goToUrl(
            'https://www.dropbox.com/scl/fi/cj2dnezs1zj5pfwyeugwb/Curr-culo-Jos-Lucas.pdf?rlkey=eqysy7dm4v4xjq3plm89fkjq3&dl=0'
          )
        "
      >
        <img src="../../../assets/arrows/ReadCvLogo.svg" alt="Img CV logo" />
        {{ "home-btn-resume" | translate }}
      </button>
      <button
        class="btn-secondary"
        (click)="
          goToUrl('https://api.whatsapp.com/send?l=pt&amp;phone=55086999512819')
        "
      >
        {{ "home-btn-get" | translate }}
        <img
          src="../../../assets/arrows/ArrowRight.svg"
          alt="img ArrowRigth "
        />
      </button>
    </div>
  </div>

  <div class="container-keyboard">
    <img
      class="keyboard-picture"
      src="../../../assets/Images/keyboard.png"
      alt="picture of the hands at keyboard"
    />
  </div>
</div>
