@import "../../../variables.scss";

.container {
  margin-top: 12rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  gap: 10rem;
}
.keyboard-picture {
  height: 48rem;
}

.text-container {
  width: 100%;

  h1 {
    width: fit-content;
    font-weight: 400;
    font-size: 5rem;
    font-family: "Kalam";
    background-color: $color-purple;
    background-image: $color-gradient;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  h3 {
    font-weight: 400;
    margin-top: 1rem;
    font-size: 2.5rem;
    color: white;
  }
  p {
    font-weight: 400;
    margin-top: 0.5rem;
    font-size: 1.4rem;
    color: $color-secondary-text;
  }

  .buttons {
    margin-top: 4rem;
    gap: 1rem;
    display: flex;
    align-items: center;

    .btn-primary {
      background-color: #413a4f;
    }

    .btn-secondary {
      background-color: $color-purple;
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      border-radius: 1rem;
      padding: 1.2rem 2.4rem;
      color: white;
      border: none;
      outline: 0;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
.arrow {
  position: absolute;
  right: 30%;
  top: calc(48rem + 8rem + 8rem);
  width: 10rem;
  height: 10rem;
  background-image: url("../../../assets/arrows/ArrowDown.svg");
  background-size: contain;
}
.container-keyboard {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

@media (max-width: 1190px) {
  .container {
    flex-direction: column-reverse;
  }
  .arrow {
    top: calc(48rem + 8rem + 58rem);
  }
  .keyboard-picture {
    height: 45rem;
  }

  .container-keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3 {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 1.6rem;
  }
  .container {
    padding: 0 3rem;
  }
}
@media (max-width: 600px) {
  .keyboard-picture {
    height: 35rem;
  }
}
