<div class="container">
  <div class="container-wrapper">
    <div class="container-text">
      <span>Projects</span>
      <h2>Take a look at my highlight projects</h2>
    </div>

    <div class="container-card">
      <div class="cards" *ngFor="let card of filteredResult">
        <!-- {{ card.name + deployUrl }} -->
        <div class="container-data">
          <div class="img-project"></div>
          <div class="container-created">
            <span></span>
            <img src="" alt="" />
          </div>
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
    <!-- 
    <div class="container-button">
      <button (click)="navigate()">
        See all <img src="../../../assets/arrows/ArrowRight.svg" />
      </button>
    </div> -->
  </div>
  <div class="img-graphic"></div>
  <div class="img-stellar"></div>
</div>
