<div class="container" id="projets">
  <div class="container-wrapper">
    <div class="container-text">
      <span>Projects</span>
      <h2>Take a look at my highlight projects</h2>
    </div>

    <div class="container-card">
      <div class="cards" *ngFor="let card of filteredResult">
        <div class="adjust">
          <div class="container-data">
            <div class="img-project">
              <img
                src="../../../assets/background-img/{{ card.name }}.png"
                alt="picture {{ card.name }}"
                (click)="goToUrl(card.name)"
              />
            </div>
            <div class="container-created">
              <span>{{ card.created_at | date : "MMMM - yyyy" }}</span>
              <img
                src="../../../assets/languages-icons/javascript.svg"
                alt="Img logo javascript"
              />
            </div>
            <h3>{{ card.name }}</h3>
            <p>{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="img-graphic"></div>
  <div class="img-stellar"></div>
</div>
