<div class="container">
  <div *ngIf="showModal | async" class="overlay" id="overlay">
    <app-modal (showModal)="showModalEvent($event)"></app-modal>
  </div>
  <app-header (flagNav)="clickOpen($event)"></app-header>

  <app-nav-aside
    [flag]="showNav"
    *ngIf="showNav | async"
    class="nav-position"
  ></app-nav-aside>

  <main>
    <app-home></app-home>

    <app-about></app-about>
    <app-projets></app-projets>
    <app-form [flagModal]="showModal"></app-form>
  </main>

  <app-footer></app-footer>
  <a
    href="https://api.whatsapp.com/send?l=pt&amp;phone=55086999512819"
    target="_blank"
  >
    <div appScrollY class="whatsapp-icon"></div>
  </a>
</div>
