/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&family=Kalam:wght@300;400&display=swap";
@import "./variables.scss";

* {
  font-family: "Heebo";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: $color-secondary-text;
  border-radius: 9999px;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}

html {
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100dvh;
}

a {
  text-decoration: none;
}

body {
  background-color: $color-black-body;

  width: 100%;
}

li {
  font-size: 1.3rem;
  font-weight: 300;
  list-style: none;
}
