$color-black-body: #000000;
$color-gray-Fill-container: #131313;
$color-green: #7dffaf;
$color-purple: #9747ff;
$color-secondary-text: #cdd0d4;
$color-gradient: linear-gradient(to right, $color-purple, $color-green);
