<div class="container" id="contact">
  <div class="wrapper">
    <div class="container-contact">
      <div class="container-img">
        <img src="../../../assets/Images/Bg.svg" alt="" id="bgForm" />

        <img
          height="160px"
          width="160px"
          src="../../../assets/Images/iconForm.png"
          alt=""
          id="iconForm"
        />
      </div>
      <span>Contact</span>
      <h2>Enjoyed my work? Let's work together</h2>
      <p>
        I'm always up for a chat. Pop me an email at
        <a href="mailto:joselucas.dev@gmail.com" target="_blank"
          >joselucasdev@gmail.com</a
        >
        or giveme a shout on social media.
      </p>

      <div class="container-icons">
        <img
          (click)="goToUrl('https://github.com/JoseLucasdevv')"
          src="../../../assets/social-media-icons/logo-github 1.svg"
          alt="logo github"
        />
        <img
          (click)="goToUrl('https://www.linkedin.com/in/joselucasdev/')"
          src="../../../assets/social-media-icons/logo-linkedin 1.svg"
          alt=""
        />
        <img
          (click)="goToUrl('https://www.instagram.com/joselucasz_/')"
          src="../../../assets/social-media-icons/logo-instagram 1.svg"
          alt=""
        />
      </div>
    </div>

    <div class="container-form">
      <form id="sendEmail" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Name" formControlName="formName" />

        <input type="text" placeholder="E-mail" formControlName="formEmail" />

        <textarea
          name="message"
          cols="20"
          rows="10"
          placeholder="Your Message"
          style="resize: none"
          formControlName="formMessage"
        ></textarea>

        <button>
          Send me a message
          <img src="../../../assets/arrows/ArrowRight.svg" />
        </button>
      </form>
    </div>
  </div>
</div>
